<!--<md-content class="Page-Container DemoHeader">-->
<!--<div layout="row">-->
<!--<div flex="90" flex-offset="5" class="DemoHeader-container">-->
<!--<div layout="row" layout-align="space-between">-->
<!--<img src="img/icons/logo.svg" ui-sref="app.landing" class="DemoHeader-logo"/>-->
<!--<div layout="row" layout-align="center stretch">-->
<!--<a hide-xs class="DemoHeader-link md-subhead" ui-sref="app.posts">Posts</a>-->
<!--<a hide-xs class="DemoHeader-link md-subhead" href="https://laravel-angular.readme.io"-->
<!--target="_blank">Docs</a>-->

<!--<a hide-xs class="DemoHeader-link md-subhead"-->
<!--href="https://www.youtube.com/channel/UCTiRXlOapSWfu02rtOdaGvA/playlists" target="_blank">Screencasts</a>-->
<!--<a hide-xs class="DemoHeader-link md-subhead"-->
<!--href="https://github.com/jadjoubran/laravel5-angular-material-starter" target="_blank">Github</a>-->
<!--<iframe class="DemoHeader-github" ng-src="{{vm.githubWidget}}" frameborder="0" scrolling="0"-->
<!--width="160px" height="30px"></iframe>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</md-content>-->
<!--<div class="DemoHeader-spacer"></div>-->


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="app.landing">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                <li ui-sref-active="active"><a ui-sref="app.posts">Blog</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>