<div class="container">
    <div class="row">
        <div class="col-md-10" ng-repeat="post in vm.posts">
            <div class="row">
                <div class="col-md-8">
                    <h4><strong><a href="#"> {{post.name}}</a></strong></h4>

                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><a href="#" class="thumbnail">
                    <img src="http://placehold.it/260x180" alt="" class="img-responsive">
                </a>

                </div>
                <div class="col-md-6">
                    <p>{{post.topic}}.</p>
                    <p><a class="btn btn-default" href="#">Read more</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <p></p>
                    <p><i class="glyphicon glyphicon-user"></i> by <a href="#">Jeff</a> | <i
                            class="glyphicon glyphicon-calendar"></i>

                        <span ng-if="post.durationTime._data.years">{{post.durationTime._data.years}} years</span>
                        <span ng-if="post.durationTime._data.days">{{post.durationTime._data.days}} Days</span>
                        <span ng-if="!post.durationTime._data.days">
                            <span ng-if="post.durationTime._data.hours">
                              {{post.durationTime._data.hours}} hours
                            </span>

                             <span ng-if="!post.durationTime._data.hours">
                                {{post.durationTime._data.minutes}} minutes
                            </span>

                        </span>


                        | <i
                                class="glyphicon glyphicon-comment"></i> <a href="#">3 Comments</a>
                        |
                        <i class="glyphicon glyphicon-share"></i> <a href="#">39 Shares</a>
                        | <i class="glyphicon glyphicon-tags"></i> Tags
                        : <a href="#"><span class="label label-info">Bootstrap</span></a>
                        <a href="#"><span class="label label-info">UI</span>
                        </a>

                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<hr>




